PORT=5001
HOST=127.0.0.1
NODE_ENV=development
DATABASE_URL="postgresql://tms_local@127.0.0.1:55432/tms_db"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-32-character-secret"
CLIENT_ORIGIN="http://localhost:5173"
